<settings xmlns="http://maven.apache.org/SETTINGS/2.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
        <profiles>
                <profile>
                        <id>CEC</id>
                        <activation>
                                <activeByDefault>true</activeByDefault>
                        </activation>
                        <repositories>
                                <repository>
                                        <id>thirdparty</id>
                                        <url>http://192.168.4.18:8081/nexus/content/repositories/thirdparty</url>
                                </repository>

                                <repository>
                                        <id>releases</id>
                                        <url>http://192.168.4.18:8081/nexus/content/repositories/releases</url>
                                </repository>
                        </repositories>
                        <pluginRepositories>
                                <pluginRepository>
                                        <id>com.cec.repository</id>
                                        <name>CEC Repository</name>
                                        <url>http://192.168.4.18:8081/nexus/content/repositories/releases</url>
                                        <releases>
                                                <enabled>true</enabled>
                                        </releases>
                                </pluginRepository>
                                <pluginRepository>
                                        <id>cec.thirdparty.repository</id>
                                        <name>CEC Third Party Repository</name>
                                        <url>http://192.168.4.18:8081/nexus/content/repositories/thirdparty</url>
                                        <releases>
                                                <enabled>true</enabled>
                                        </releases>
                                </pluginRepository>
                        </pluginRepositories>
                        <properties>
                                <sign.keystore></sign.keystore>
                                <sign.alias.ec>ecsign</sign.alias.ec>
                                <sign.alias.rsa>rsasign</sign.alias.rsa>
                                <sign.storepass>password</sign.storepass>
                                <sign.keypass>password</sign.keypass>
                                <sign.jarsigner.java7>jarsigner</sign.jarsigner.java7>
                        </properties>
                </profile>
        </profiles>
        <servers>
                <server>
                        <id>releases</id>
                        <username>admin</username>
                        <password>admin</password>
                </server>
                <server>
                        <id>thirdparty</id>
                        <username>admin</username>
                        <password>admin</password>
                </server>
        </servers>
</settings>
